body {
    font-family: Tahoma, Verdana, sans-seri;
    text-align: center;
}

.h1principal {
    color: lightcoral;
}

.nombre {
    color: lightcoral;
}

ul {
    display: inline-block;
    text-align: left;
}

img {
    border: 5px solid pink;
}